<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
</head>
<body>
   <h1>your name is: </h1>
   <form id="userForm">
      <input type="text" id="userInput" name="userInput" placeholder="Enter your name">
      <button type="submit">Submit</button>
   </form>
</body>
<script src="/javascripts/form-script.js"></script>
</html>
