<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
</body>
<script src="/javascripts/vector.js"></script>
<script src="/javascripts/player.js"></script>
<script src="/javascripts/canvas.js"></script>
</html>